<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="QuanLiCaPhe.Properties.Settings.QuanLyCaPheConnectionString"
        connectionString="Data Source=DESKTOP-0Q9VVUT\SQLEXPRESS;Initial Catalog=QuanLyCaPhe;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INhanVienService" />
                <binding name="BasicHttpBinding_ILoaiMonService" />
                <binding name="BasicHttpBinding_IMonAnService" />
                <binding name="BasicHttpBinding_IBanSDNhieuService" />
                <binding name="BasicHttpBinding_IBanCoKhachService" />
                <binding name="BasicHttpBinding_ICTHoaDonService" />
                <binding name="BasicHttpBinding_IHoaDonService" />
                <binding name="BasicHttpBinding_ICTOrderService" />
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="BasicHttpBinding_IDoanhThuService" />
                <binding name="BasicHttpBinding_ICTDoanhThuService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51914/NhanVienService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INhanVienService" contract="NhanVienService.INhanVienService" name="BasicHttpBinding_INhanVienService" />
            <endpoint address="http://localhost:51914/LoaiMonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoaiMonService" contract="LoaiMonService.ILoaiMonService" name="BasicHttpBinding_ILoaiMonService" />
            <endpoint address="http://localhost:51914/MonAnService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonAnService" contract="MonAnService.IMonAnService" name="BasicHttpBinding_IMonAnService" />
            <endpoint address="http://localhost:51914/BanSDNhieuService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBanSDNhieuService" contract="BanSDNhieuService.IBanSDNhieuService" name="BasicHttpBinding_IBanSDNhieuService" />
            <endpoint address="http://localhost:51914/BanCoKhachService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBanCoKhachService" contract="BanCoKhachService.IBanCoKhachService" name="BasicHttpBinding_IBanCoKhachService" />
            <endpoint address="http://localhost:51914/CTHoaDonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICTHoaDonService" contract="CTHoadonService.ICTHoaDonService" name="BasicHttpBinding_ICTHoaDonService" />
            <endpoint address="http://localhost:51914/HoaDonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHoaDonService" contract="HoaDonService.IHoaDonService" name="BasicHttpBinding_IHoaDonService" />
            <endpoint address="http://localhost:51914/CTOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICTOrderService" contract="CTOrderService.ICTOrderService" name="BasicHttpBinding_ICTOrderService" />
            <endpoint address="http://localhost:51914/OrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService" contract="OrderService.IOrderService" name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:51914/DoanhThuService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDoanhThuService" contract="DoanhThuService.IDoanhThuService" name="BasicHttpBinding_IDoanhThuService" />
            <endpoint address="http://localhost:51914/CTDoanhThuService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICTDoanhThuService" contract="CTDoanhThuService.ICTDoanhThuService" name="BasicHttpBinding_ICTDoanhThuService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
